snippet <?
<?php $1 ?>
endsnippet

snippet ul
<ul>$1</ul>
endsnippet

snippet li
<li>$1</li>
endsnippet

snippet p
<p>$1</p>
endsnippet

snippet div
<div>$1</div>
endsnippet

snippet a
<a href="$1">$2</a>
endsnippet

snippet h1
<h1>$1</h1>
endsnippet

snippet h2
<h2>$1</h2>
endsnippet

snippet h3
<h3>$1</h3>
endsnippet

snippet h4
<h4>$1</h4>
endsnippet

snippet h5
<h5>$1</h5>
endsnippet

snippet h6
<h6>$1</h6>
endsnippet

snippet script
<script>$1</script>
endsnippet
